button {
    background-color: rgba(21, 118, 110);
    margin-right: 20px;
    border-radius: 25px;
}
body{
    background-color: rgba(35, 222, 175);
}

.head-line {
    font-weight: bold;
}

table {
    border-collapse: separate;
    border-spacing: 20px 5px;
    padding: 8px;
}